<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component | Image</title>
    <link rel="stylesheet" href="image.css" />
    <link rel="stylesheet" href="../commoncss/colors.css" />
    <link rel="stylesheet" href="../commoncss/common.css" />
    <link rel="stylesheet" href="../commoncss/fonts.css" />
  </head>
  <body>
    <div class="container">
      <img class="img-responsive" src="../images/img1.jpg" />
      <img class="img-round" src="../images/img2.jpg" />
    </div>
  </body>
</html>
