:root {
  --primary-color: #2563eb;
  --secondary-color: #ebad25;
  --white-color: #ffffff;
  --black-color: #000000;
  --success-color: #065a00;
  --danger-color: #d40019;
  --warning-color:#695400 ;
}
