<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="avatar.css" />
    <link rel="stylesheet" href="../commoncss/colors.css" />
    <link rel="stylesheet" href="../commoncss/common.css" />
    <link rel="stylesheet" href="../commoncss/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Component | Avatar</title>
  </head>
  <body>
    <div class="container flex-container">
      <img src="../images/avatar1.png" alt="avatar-image" class="avatar" />
      <img src="../images/avatar2.png" alt="avatar-image" class="avatar" />
      <img src="../images/avatar3.png" alt="avatar-image" class="avatar" />
    </div>

    <div class="container flex-container">
      <img
        src="../images/avatar1.png"
        alt="avatar-small-image"
        class="avatar sm"
      />
      <img
        src="../images/avatar2.png"
        alt="avatar--medium-image"
        class="avatar md"
      />
      <img
        src="../images/avatar3.png"
        alt="avatar-large-image"
        class="avatar lg"
      />
    </div>

    <div class="container flex-container square">
      <img
        src="../images/avatar2.png"
        alt="avatar-square-image"
        class="avatar md square"
      />
    </div>
  </body>
</html>
