<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../commoncss/common.css" />
    <link rel="stylesheet" href="../commoncss/fonts.css" />
    <link rel="stylesheet" href="list.css">
    <title>Component | List</title>
  </head>
  <body>
    <div class="container">
        <div class="container">
            <ul>
                <li class="list">Text 1</li>
                <li class="list">Text 2</li>
                <li class="list">Text 3</li>
                <li class="list">Text 4</li>
                <li class="list">Text 5</li>
            </ul>
        </div>
      <ul>
        <li class="list">
          <div class="container">
            <h3>Heyy!!</h3>
            <p>Please don't read this random text</p>
          </div>
        </li>
        <li class="list">
          <div class="container">
            <h3>Heyy!!</h3>
            <p>Please don't read this random text</p>
          </div>
        </li>
        <li class="list">
          <div class="container">
            <h3>Heyy!!</h3>
            <p>Please don't read this random text</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
