<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="badge.css" />
    <link rel="stylesheet" href="../commoncss/colors.css" />
    <link rel="stylesheet" href="../commoncss/common.css" />
    <link rel="stylesheet" href="../commoncss/fonts.css" />  
    <link rel="stylesheet" href="../commoncss/image.css">
    <link rel="stylesheet" href="../avatar/avatar.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
    <title>Component | Badge</title>
  </head>
  <body>
    <div class="container flex-container">
        <div class="badge">
          <img
            src="../images/avatar1.png"
            alt="badge-image"
            class="avatar"
          />
          <div class="status online"></div>
        </div>
  
        <div class="badge">
          <img
            src="../images/avatar2.png"
            alt="badge-image"
            class="avatar"
          />
          <div class="status busy"></div>
        </div>
  
        <div class="badge">
          <img
            src="../images/avatar3.png"
            alt="badge-image"
            class="avatar"
          />
          <div class="status online"></div>
        </div>
      </div>  
      
      <div class="container flex-container">
        <div class="badge">
            <i class="fa fa-shopping-cart"></i>
          <div class="number status flex">5</div>
        </div>
  
        <div class="badge">       	
          <i class="fa fa-user"></i>       
          <div class="number status flex">5</div>
        </div>
  
        <div class="badge">         
            <i class="fa fa-shopping-cart"></i>      
          <div class="number status flex busy">5</div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
