<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component | Text Utilities</title>
    <link rel="stylesheet" href="../commoncss/common.css" />
    <link rel="stylesheet" href="../commoncss/fonts.css" />
    <link rel="stylesheet" href="textUtilities.css" />
  </head>
  <body>
    <div class="container">
      <p class="small-text">Small Text</p>
    </div>
    <div class="container">
      <p class="text-center">Text in Center</p>
    </div>
    <div class="container">
      <p class="grey-text">Grey Text</p>
    </div>
    <div class="container">
        <p class="heading-one">Heading One</p>
        <p class="heading-two">Heading Two</p>
        <p class="heading-three">Heading Three</p>
        <p class="heading-four">Heading Four</p>
        <p class="heading-five">Heading Five</p>
    </div>
  </body>
</html>
