<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="alert.css" />
    <link rel="stylesheet" href="../commoncss/colors.css" />
    <link rel="stylesheet" href="../commoncss/common.css" />
    <link rel="stylesheet" href="../commoncss/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Component | Alert</title>
  </head>
  <body>
    <div class="container">
      <h2>Alert without icons</h2>
      <div class="alert-box alert-primary">The Primary Alert!!!!</div>
      <div class="alert-box alert-secondary">The Secondary Alert!!!!</div>
      <div class="alert-box alert-success">The Success Alert!!!!</div>
      <div class="alert-box alert-danger">The Danger Alert!!!!</div>
      <div class="alert-box alert-warning">The Warning Alert!!!!</div>
    </div>
    <div class="container">
      <h2>Alert with icons</h2>
      <div class="alert-box alert-primary">
        <i class="fa fa-asterisk"></i>The Primary Alert!!!!
      </div>
      <div class="alert-box alert-secondary">The Secondary Alert!!!!</div>
      <div class="alert-box alert-success">
        <i class="fa fa-check"></i>The Success Alert!!!!
      </div>
      <div class="alert-box alert-danger">
        <i class="fa fa-times"></i>The Danger Alert!!!!
      </div>
      <div class="alert-box alert-warning">
        <i class="fa fa-exclamation-triangle"></i>The Warning Alert!!!!
      </div>
    </div>
  </body>
</html>
